/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono|Ubuntu+Mono');


* {
  padding: 0;
  margin: 0;
  font-size: 18px;

}
h2,h1 {
  margin: 0 !important;
  padding-top: 1em;
}
html, body{
  font-family: 'Share Tech Mono', monospace !important;
  background-color: #1565c0!important;
  color: white;
}

/********************NAV BAR SECTION *********************/
.my-navbar-background{
  background-color: #f2f2f2 !important;

}
.my-nav-wrapper {
  background-color: transparent !important;
  height: 100px;
  color: white;

}
.my-nav-list li,a {
  height:100px;
}
.my-nav-list a {
  padding-top: 20px;
  font-size: 1.2em;
    color: white;
    transition: all .1s linear;
}
.my-nav-list a:hover {
  /* color:  white !important;

  text-shadow: 1px 1px 1px black,
                1px 1px 1px black; */
  background: none;
  transform: scale(1.3);
  /*  */
  text-shadow: 1px 1px 1px black,
  1px 1px 1px black,
  1px 1px 0px black;
}
.my-navbar-background a{
    color:black !important;
}
.my-navbar-background a:hover {
  color: #C13439 !important;
}
.my-nav-logo{
  margin-top: 15px;
  width: 75px;
  height: 75px;
  /*background-color: white !important;
  border-radius: 50%;*/


}
.my-nav-ham{
  background-color:white !important;

}

.float {
  border-radius: 50%;

  animation: float 2s ease-in-out infinite;
}

@keyframes float {
	0% {
		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
		transform: translatey(0px);
	}
	50% {
		/*box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);*/
		transform: translatey(-20px);
	}
	100% {
		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
		transform: translatey(0px);
	}
}

/*********************************************************/





/********************HOME SECTION *********************/
.home-section {
  height: 100vh;
}
.home-section h1{
  margin-top: 2em;

  font-weight: 700;
  font-size: 5em;

}
.typing-text{

  margin: 0 auto;
  color:#F1B842;
  font-size: 1.5em;
}

.blinking {
animation-name: blinkCursor;
animation-iteration-count: infinite;
animation-timing-function: cubic-bezier(1,0,0,1);
animation-duration: 0.75s;
display: inline-block;
width: 4px;
height: 30px;
margin-top: 10px;
margin-left: 7px;
box-shadow: 0 0 10px rgba(255, 99, 71, .5);
background: #F0B74D;
}

@keyframes blinkCursor {
from { opacity: 1.0 } to { opacity: 0.0 }
}


#blinking{
  color:#F1B842;
  font-size: 1.5em;
}
.big-c{
  font-size: 1.7em;
  color: #c13439;
  text-shadow: 1px 1px 1px white,
  2px 2px 0px white;

}
/*********************************************************/
/*         PROFESSIONAL SECTION                          */
.overlay{

  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 2;

}

.professional {

  background:  url("../images/professional.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-attachment:fixed;
  z-index: 0;
  font-size: 2em;
}
#professional-title{
  padding: 1em;
}
.my-hide {
  display:none;
}
.show {
  display: block;
}
.treehouse{
  display: flex;
  flex-wrap: nowrap;


}
.row-1{

}
.row-2{
 position: relative;
 top:-17px;
 left: 37px;

}
.row-3{
  position: relative;
  top: -35px;

}
.row-4{
  position: relative;
  top:-52px;
  left: 37px;

}

.badges-wrapper{
  width: 75px;
  height: 75px;

}
.badges{
  width: 100%;
  height: 100%;


}
.progress-bar{
  height: 10px !important;
  background-color: grey;
  border-radius: 25px;
}
.progress-color{
  background-color: #56A64B;
  height: 10px;
  border-radius: 25px;
  width: 0;
}

.anim-html{
  animation-name: htmlprogess;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: .5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

}
@keyframes htmlprogess {
  from {
		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
		width: 0%;

	}
	to {
		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
		width: 90%;

	}
}
.anim-css{
  animation-name: cssprogess;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: .6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  width:0;
}
@keyframes cssprogess {
  from {
    /*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
    width: 0%;
  }
  to {
    /*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
    width: 90%;

  }
}
.anim-js{
  animation-name: jsprogess;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: .7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes jsprogess {
 from {
		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
		width: 0%;
  }
	to {
		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
		width: 50%;

	}
}
.anim-php{
  animation-name: phpprogess;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: .8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes phpprogess {
  from {
		/*box-shadow 0 5px 15px 0px rgba(0,0,0,0.6);*/
		width: 0%;
	}

	to {
		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
		width: 75%;
	}
}

.badges-49{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;

}
.badges-48{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: .5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-47{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-46{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: .1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-45{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: .7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-44{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-43{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-42{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: .2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-41{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: .6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-40{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-39{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 1.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-38{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}


/* ROW 3*/


.badges-37{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-36 {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-35{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-34 {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-33 {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-32 {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: .1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-31 {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-30 {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 1.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-29 {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: .6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-28 {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: .3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-27 {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: .3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-26 {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
/* ROW 2 */


.badges-25{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-24{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 1.1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-23{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: .1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-22{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-21{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 1.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-20{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-19{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: .4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-18{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: .4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-17{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-16{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-15{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-14{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}


.badges-1{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: .3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-2 {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-3{
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: .3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-4 {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-5 {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: .1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-7 {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: .4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-8 {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-9 {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-10 {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 1.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-11 {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: 1.1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-12 {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: .3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}
.badges-13 {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-delay: .2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity:0;
}

@keyframes fadeIn {
  0%{

    opacity: 0;


  }
  50%{
    transform: scale(2);
  }
  100%{

    transform: scale(1);
    opacity: 1;

  }
}














/*********************************************************/
/*         PORTFOLIO SECTION                          */

.portfolio-parallax {
  background-color:white;
  width: 100%;
  height: auto;

}
#portfolio-title{
  color:#BB7AA1;


  padding: 1em;
}


.pulse::before {
  animation: pulse-animation 3s cubic-bezier(0.24, 0, 0.38, 1) infinite !important;
}
.my-card{
  position:relative;
  max-width: 100%;
  height: 60%;
  margin: 0 ;
  padding: 0;
}
/*********************************************************/

/********************* GRID ******************************/
.grid-container {

       display: grid;
       grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
       grid-auto-rows: 450px;

       grid-gap: 1em 1em;
       margin: 0 auto;
  }

   .grid-item {
      height: 100%;
      width: 100%;
      background:white;
      display: flex;
      flex-direction: column;

   }

/*********************************************************/















/***************** FLIPPING CARD *************************/

.icon{
  width: 100px;
  height: 100px;
}

.thumb{
  width: 100%;
  height: 170px;

}
.thumb-title{
  color:#4794BC;
  font-size: 1.4em;
}
.card{
  text-align: center;
  color: black;
  transition: all .5s ease;
  height: auto;
  border: none;
  box-shadow: none;
}
.card p{
  font-size: 1em;
  padding: 10px;
  text-align: left;
}
.card:hover {
  transform: translatey(-25px);
  transform-style: preserve-3d;
  /* box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3),
              0px 0px 10px rgba(0, 0, 0, 0.296),
              0px 5px 80px rgba(0, 0, 0, 0.196),
              0px 10px 80px rgba(0, 0, 0, 0.01); */
              box-shadow: 22px 30px 93px -4px rgba(51,45,51,0.59);
}
.front {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: black;
}

.customize_button {
  height: auto;
  margin: 0 auto;
  background-color: #4DAADC;
  color: white;
  text-decoration: none;
  transition: all .5s ease;
  padding: 0 15px;
  border-radius: 5%;
  margin-bottom: 1em;
  margin-top: auto;
}
.customize_button:hover {
  background-color: black;

  color:white;
  font-size: 1.1em;
  padding: 5px 15px;
}

/*********************************************************/


/***************** JOURNEY SECTION *************************/
.journey {
  margin: 0;
  background:  url("../images/journey.jpg");
  height: 100vh;
  background-size: cover;
  background-attachment:fixed;
  background-position: center center;
  z-index: 0;
  font-size: 2em;
}
.overlay-1 {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 2;
}
.circle {
  will-change: position;
  position: absolute;
  left: 25%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #56A64B;
  animation: moveright .5s ease 1;
}
.circle-second {
  will-change: position;
  position: absolute;
  left: 48%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #56A64B;
  animation: secondDes .5s ease;
}
.circle-third {
  will-change: position;
  position: absolute;
  left: 73%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #56A64B;
  animation: thirdDes .5s ease;
}

.line {

  height: 5px;
  width: 100%;
  background-color: #56A64B;


}
.flex-container-journey {

  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.text-box {
  margin: 1em;
  background-color: rgba(147,147,147,.3);
  text-align: center;
  padding: 5px;
  height: auto;
  visibility: hidden;
}
.text-box h4{
  color: #58A54F;
}
.text-box p{
  font-size: .8em !important;
}
.fall-1{
  animation: slide 1s ease;

}
.spring{
  animation: slide 1s ease;

}
.fall-2 {
  animation: slide 1s ease;

}

@keyframes slide {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {

    opacity:1;
    transform: scale(1);

  }
}

@keyframes moveright {
  0%{
    opacity:0;
    left: 0;

  }


  100%{
    opacity:1;
    left: 25%;
    transform: scale(2);
  }
}
@keyframes secondDes {
  0% {

    left: 25%;
  }

  100% {

    left: 48%;
    transform: scale(2);
  }
}
@keyframes thirdDes {
  0% {

    left: 48%;
  }

  100% {
    left: 73%;
    transform: scale(2);
  }
}




/* ABOUT ME */


/* CONTACT ME */
.contact-parallax{
  background-image: url("../images/contactme.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

}
.contact-box h5{
  color: #2FA599;
}
.about-text {
  text-align: justify;
}
.my-pic {
  width: 100%;

}
.contact-box {
  margin-top: 14px;
  background-color: rgba(147,147,147,.3);
  padding: 15px;
}

.messenger {
  font-size: 1.3em;
  color: #2FA599;
}


/* MEDIA QUERY */
@media screen and (min-width: 662px) {
  .about{
    height: 100vh;
  }
  .contact-parallax {
    height: 100vh;
  }
}
@media screen and (max-width: 992px) {
  .professional {
    height: 50vh;
  }

}
@media screen and (max-width: 480px) {
    .home-section {
      font-size: 14px !important;
    }
    .professional {
      height: 50vh;
    }
    .journey {
      height: auto ;
    }
    .contact-parallax{
      height: auto ;
    }
    .typing-text {
      line-height: normal !important;
    }

  }
